{% extends 'menu/base_generic.html' %}

{% block content %}
    <div class="row">
        {% for m in menu %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img src="{{ m.image.url }}" class="card-img-top custom-img" alt="{{ m.name }} image">
                <div class="card-body">
                    <h5 class="card-title">{{ m.name }}</h5>
                    <p class="card-text">{{ m.price }} DT</p>
                    <a href="{% url 'menu:edit' m.id %}" class="btn btn-info custom-btn">Edit</a>
                    <a href="{% url 'menu:delete' m.id %}" class="btn btn-danger custom-btn ml-2">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
